<template>
  <div class="w-full">
   
    <div class="container flex justify-center mx-auto">
     
     <table class="mx-auto,">
        <tr v-for="(row, i) in grid" :key="i" >
          <td v-for="(cell, j) in row" :key="cell.id" :ref="cell.id" @click="clicked(i, j)" :class=" cell.class? 'black': '' "></td>

        </tr>

     </table>
    </div>
    <div class="w-1/2 mx-auto my-3 flex justify-center">
    
      <button :disabled="runningAuto" @click="runNextGen" class="mr-2 h-10 " :class="buttonClasses">Run Manually</button>
      <button :disabled="runningAuto" @click="autoGen" class="mr-2 h-10  " :class="buttonClasses">Run Automatic</button>
      <button  :disabled="!runningAuto" @click="stop" class="mr-2 h-10 " :class="buttonClasses">
        <span class="mr-2">Stop</span>
                  <span v-if="runningAuto" class="inline-flex items-center justify-center px-2 py-1 text-xs font-bold leading-none text-red-100 bg-red-600 rounded-full">{{gens > 0 ? gens : '' }}</span>
  </button>
  <button :disabled="runningAuto" @click="clear" class="mr-2 h-10  " :class="buttonClasses">Clear</button>
    

  </div>
  </div>
</template>

<script>

export default {

  data: function(){
    return {
      config: {
        width: 400,
        height: 400
        },

      cellWidth: 25,
      cellHeight: 25,
      cells: [],
      buttonClasses: "h-10 px-3 text-blue-700 transition-colors duration-150 border border-blue-500 rounded-lg focus:shadow-outline hover:bg-blue-300 hover:text-blue-600",
      dangerButtonClasses: "h-10 px-3  text-red-100 transition-colors duration-150 bg-red-700 rounded-lg focus:shadow-outline hover:bg-red-800",
      grid: null,
      runningAuto: false,
      currentGen: null,
      patternSet: false,
      gens: 0,
      timer: null,
       configSquare:{
      height: 25,
      width: 25,
      stroke:"black",
      strokeWidth: 1,
    }

    }
   
  },
  mounted:function(){
      this.createGrid()
  },

  computed:{
    numberOfCell(){

      return Math.ceil((this.config.width* this.config.height) / (this.cellWidth * this.cellHeight))
    },
    
    arrayCells(){
      if(this.grid)
       { const array = this.grid.reduce((arr , val)=>arr.concat(val, []));
       // console.log({compute:array});
        return array
       }
      return []
    }
  },
  methods:{
          clear(){
              if(!this.runningAuto)
                {  this.grid[ []];
                  this.createGrid()}
          },
          autoGen(){
            const that = this;
            if(this.patternSet < 3){

              alert("You should Mark more cells")
              return
            }
            this.$nextTick(function(){

            this.timer = setInterval(function(){
              that.runNextGen()
             // console.log("Interval");
              }, 400)});
              this.runningAuto = true;
          },
          stop(){
            clearInterval(this.timer);
            this.runningAuto= false
            this.gens = 0
          },
          cloneGen(gen){
            return gen.map(a => [...a]);
          },
  
          runNextGen()
      {
            if(this.patternSet < 3){

              alert("You should Mark more cells")
              return
            }

            const rows = this.rows();
            const cols = this.cols();
            this.nextGen = this.cloneGen(this.grid);
          for (let x = 0; x < cols; x++) {
              for (let y = 0; y < rows; y++) {
                  // Count the nearby population
                  let cellsAlive =  this.isAlive(x, y - 1)
                                    + this.isAlive(x, y + 1)
                                    + this.isAlive(x - 1, y) 
                                    + this.isAlive(x + 1, y)
                                   + this.isAlive(x + 1, y - 1) 
                                    + this.isAlive(x - 1, y + 1) 
                                   + this.isAlive(x + 1, y + 1);
                                   + this.isAlive(x - 1, y - 1);
                  if (cellsAlive == 2){
                      
                    }else if (cellsAlive == 3){
                      
                        this.nextGen[x][y].class = true;
                    }else{
                        this.nextGen[x][y].class = false;
                    }

              }
          }

          this.grid = this.cloneGen(this.nextGen);
          this.gens += 1;
      },
    isAlive(x, y ){
       const rows = this.rows();
       const cols = this.cols();
      if (x < 0 || x >= rows || y < 0 || y >= cols){
        return false;
    }

    return this.grid[x][y].class;
    },
    clicked(i, j){
          let row = this.grid[i].slice(0)
              row[j].class ? row[j].class = false : row[j].class = true
            this.$set(  this.grid, i,row);
              console.log(i, j);
              this.patternSet += 1;
              
    },
    cols(){
      return Math.ceil(this.config.height / this.cellHeight)
    },
    rows(){
      return Math.ceil( this.config.width / this.cellWidth);
    },

    getConfigRect(x, y, id){
      return {x:x, y:y,  id: id , class: false}
      },

      createGrid(){
        let id= 0;
        const rows = this.rows();
        const cols = this.cols();
        this.grid = new Array(rows);
        let x =0;
      for(x; x< rows; x++ ){
        this.grid[x]=new Array(cols)
           let y= 0;
               for( y = 0 ; y < cols ; y++ ){
                let config = this.getConfigRect(x, y, id.toString());
                this.grid[x][y] = config;
                // console.log(config)
                id += 1;
            }

           }
        
      }
  }
}
</script>
<style scoped>
td{
  width: 25px;
  height: 25px;
  border: 1px solid black;
  
}
.black{
  background: black;
}

</style>